 body{
   
  
   height: 100vh;
  
} 

.first .first-2 img{
   display: flex;
   padding: 20px;
}

.navbar .container-fluid .mine{
    display: flex;
    background-color: rgb(231, 12, 85) !important;
    width: 100%;
    margin-top: 2px;
    
    
    font-size: small;
    font-family: "tahoma";
    font-weight: bolder;
    
    
   
}
form{
    /* width: fit-content; */
    padding-top: 8px;
}
.navbar-brand img{ width: 100px;
    padding-top: 10px;
    
}

.navbar-collapse .navbar-nav{
    margin-left:300px ;
    gap: 30px;
    color:#fff !important;
}

/* secound */
 .navbar .container-fluid .secound{
    display: flex;
    background-color:rgb(139, 65, 139) !important;
    
    margin-top: -20px;
    font-size:small;
    font-family: "tahoma";
    font-weight: bolder;
      
 }
 
 .nav-item:hover{
   background-color: #302e2e;
   border-radius: 5px;

 }

 
 
 .firstcolum .carousel-inner{
    min-height: 100%;
    width:100%;

 }
 .carousel-inner img{
    height: 100%;
    width: 100%;
    border-radius: 9px;
    padding-left: 8px;
 }
 /* secound column */
 .secoundcolum img{
    height: 250px;
    max-width: 250px;
    flex: 1;
    padding-bottom: -100px;
    box-sizing: border-box; 

    

 }
 .secoundcolum{
    flex: 0 0 auto;
    padding: 10px;
   
    border-radius: 9px;
    margin-right: 10px;
    
    
 }
 .firstone{
   padding: 10px;
   
 }
 .secoundone{
   padding: 10px;
 }
  
 .konga{
    display: flex;
    
    height: 60vh;
    
    
 }
 .secoundcolum{
    display: flex;
 }
 .imgc img{
   width: 100%;
   height: auto;
   display: block;
   
 }
 .last .imgy{
   display: flex;
   list-style: none;
 }
 .imgy img{
   width: 100%;
   box-shadow: 10px;

 }
 
/* modal form */
.container{

   width: 300px; 
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
  background-color: palevioletred;
   }
   
   input[type=text],
   
   input[type=password] {
   
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid  #ccc;
   box-sizing: border-box;
   
   
   }
   
   button{
       background-color: rgb(38, 22, 53);
   color: rgb(14, 12, 12);
   
   padding: 14px 20px;
   margin: 8px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   
   width: 100%;
   
   
   }
   
   
   button:hover {
   
   background-color: rgb(45, 45, 197);
   }
   
   